/* html, body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    width: 100%;
    display: flex;
    margin-bottom: 1em;
    background-color: #ffff;
}

header img {
    width: 4em;
}

header h1 {
    color: rgb(19, 19, 81);
} */

div.instructions {
    width: 80%;
    margin: 0 auto;
    padding: .5em;
    box-sizing: border-box;
    /* background-color: rgb(226, 199, 172); */
    /* background-color: white; */
    background-color: rgb(19, 19, 81);
    color: #ffff;
    font-size: .8rem;
}

.participants {
    overflow-x: auto;
    max-width: 100%;
    margin: 1em;
}

.participants h3 {
    /* margin: 0 1em; */
    color: #555;
}

.participants table {
    /* width: 50%;
    margin: 0 2em;
    text-align: center; */

    /* width: 90%;
    border-collapse: collapse; */
    font-family: Arial, sans-serif;
    /* margin: 20px auto; */
}

.participants table thead {
    font-size: 1.1rem;
    background-color: rgb(130, 175, 223);
    text-transform: capitalize;
}

/* table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: 20px;
} */

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

td {
    color: #555;
}

/* Add rounded corners */
table {
    border-radius: 10px;
    overflow: hidden;
}

/* Zebra striping */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn-download button {
    /* margin: 0 1em; */
    margin: 0;
    background-color: #555;
}

